body {
  font-family: "Roboto", sans-serif;
  background-color: lightgoldenrodyellow;
}
.nomeDoJogo {
  width: 600px;
  height: 63px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #75b79e;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  text-align: center;
  font-style: normal;
}
.containerCartas {
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;

  width: 830px;
}
.carta {
  width: 117px;
  height: 146px;

  border: 1px solid #99cea8;
  border-radius: 5px;
  margin-bottom: 34px;

  transition: all 400ms ease;
  transform-style: preserve-3d;
  position: relative;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cartaVirada {
  width: 117px;
  height: 146px;
  background-color: red;
  border: 1px solid #99cea8;
  border-radius: 5px;
  margin-bottom: 34px;
}
.face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
}
.frente {
  transform: rotateY(180deg);
  background-color: #a7e9af;
}
.costas {
  background-image: url("./images/front.png");
  background-size: cover;
  background-position: center;
  background-color: #a7e9af;
  backface-visibility: hidden;
}

img {
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}
.reveal-card {
  transform: rotateY(180deg);
}
.check {
  font-size: 15px;
}
@media (max-width: 600px) {
  .nomeDoJogo {
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }
  .containerCartas {
    margin-top: 80px;
    width: 40%;
  }
}
